{% extends "learning/layout.html" %}
{% load static %}
{%block title %}Home{% endblock title %}
{% block content %}
<section id="nav-bar">
  <nav class="navbar  navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"></a>
      <h3>Student Guide</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home_detail' %}">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'clubs' %}">CLUBS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PLACEMENT</a>
        </li>
      </ul>
    </div>
  </nav>
</section>
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li>
    <div class="alert alert-success ">{{ message }}</div>
</li>
{% endfor %}
</ul>
{% endif %}
<section id="banner">
  <div class="container">
  <div class="row">
  <div class="col-md-6">
  <p class="heading-title">Hello, Welcome to the Student Guide.</p>
  <p>Don't worry to give you the best thrieve about your course we are here to guide you.So,Register fast.</p>
  <a href="{% url 'register' %}" class="btn btn-outline-warning"> REGISTER YOURSELF </a>
  
  </div>
  <div class="col-md-6 text-center">
    <img src="{% static 'image/mca.png' %}" class="img-fluid">
  </div>
  </div>
  </div>


</section>
{% endblock content %}

