{% extends "learning/layout.html" %}
{% load static %}
{%block title %}Register{% endblock title %}
{% block content %}
<nav>
    <label class="logo">Registration Form</label>
    <ul>
      <li><a class="active" href="#">Registration</a></li>
      <li><a href="{% url 'home_detail' %}">Back To Home</a></li>
    </ul>
</nav>
  <br/>
<div class="container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li>
        <div class="alert alert-danger ">{{ message }}</div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
<div class="form-border">
    <div class="form-group">
        <form  method="post" action="{% url 'register' %}">
            {% csrf_token %}
                    <h4>Name</h4>
                    {{ form.name }}
                    <br/>
                    <h4>Roll Number</h4>
                    {{ form.roll_no }}
                    <br/>
                    <h4>Batch</h4>
                    {{ form.batch }}
                    <br/>
                    <h4>Address</h4>
                    {{ form.address }}
                    <br/>
                    <h4>City</h4>
                    {{ form.city }}
                    <br/>
                    <h4>State</h4>
                    {{ form.state }}
                    <br/>
                    <h4>Phone Number1</h4>
                    {{ form.phone_no1 }}
                    <br/>
                    <h4>Phone Number2</h4>
                    {{ form.phone_no2 }}
                    <br/>
                    <h4>Hostel</h4>
                    {{ form.hostel }}
                    <br/>
                    <h4>Room Number</h4>
                    {{ form.roomno }}
                    <br/><br/><br/><br/>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
</div>

{% endblock content %}