.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
#nav-bar{
position: sticky;
top:0;
z-index: 10;
}
h3{
    height: 25px;
    color: #fff;
}
.navbar{
background-image: linear-gradient(to left,#474747,#0e0b0f);
height: 50px;
}
.registrationbackground{
    background-image: linear-gradient(to left,#474747,#0e0b0f);
}
.navbar-brand img{
    height: 80px;
    padding-left: 10px;
    padding-top: 5px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
}
.text-block{
    position: absolute;
    font-family: montserrat;
    top: 230px;
    left: 430px;
    width: 350px;
    padding: 10px;
    background-color: black;
    color: white;
    box-shadow: 13px 13px 20px skyblue;
  }
.form-border{
    margin-top: 20px;
    width:1100px;
    height: 1320px;
    padding: 60px 35px 35px 35px;
    background: #ecf0f3;
    box-shadow: 4px 4px 15px 14px #cbced1;
    border-radius: 40px;
}
.form-border-club{
    margin-top: 20px;
    width:480px;
    height: 400px;
    padding: 30px 30px 30px 20px;
    background: #ecf0f3;
    box-shadow: 4px 4px 15px 14px #cbced1;
    border-radius: 0px;
}
    /*--------------form style-------*/

h4{
    padding-bottom: 5px;
     color: black;
 }
/*-------banner------*/
#banner{
background-image: linear-gradient(to left,#474747,#0e0b0f);
color: #fff;
padding-top: 5%;
}
.heading-title{
font-size: 40px;
font-weight: 600;
margin-top: 100px;
}
.bottom-img{
    width: 100%;
}
