.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
#nav-bar{
position: sticky;
top:0;
z-index: 10;
}
.footer-love{
  height: 20px;
  font-size: 20px;
  font-style:initial;
  color: orange;
}
h3{
    height: 25px;
    color: orange;
}
.navbar{
background-image: linear-gradient(to left,#474747,#0e0b0f);
height: 45px;
}
.registrationbackground{
    background-image: linear-gradient(to left,#474747,#0e0b0f);
}

.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  color: darkgray !important;
  font-weight: 400;
}
.navbar-nav a:hover {
  background-color:black;
  border-radius: 10px;
}
/*-------------nav bar end -------------*/
.footer {
  padding-top: 2px;
  padding-bottom: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align:center;
}

.text-block{
    position: absolute;
    font-family: montserrat;
    top: 230px;
    left: 430px;
    width: 350px;
    padding: 10px;
    background-color: black;
    color: white;
    box-shadow: 13px 13px 20px skyblue;
  }
.form-border{
    margin-top: 20px;
    width:1100px;
    height: 1720px;
    padding: 60px 35px 35px 35px;
    background: #ecf0f3;
    box-shadow: 4px 4px 15px 14px #cbced1;
}
.form-border-club{
    margin-top: 20px;
    width:480px;
    height: 400px;
    padding: 30px 30px 30px 20px;
    background: #ecf0f3;
    box-shadow: 4px 4px 15px 14px #cbced1;
    border-radius: 0px;
}
    /*--------------form style-------*/

h4{
    padding-bottom: 5px;
     color: black;
 }
/*-------banner------*/
#banner{
background-image: linear-gradient(to left,#474747,#0e0b0f);
color: #fff;
padding-top: 5%;
}
.heading-title{
font-size: 40px;
font-weight: 600;
margin-top: 100px;
}
.bottom-img{
    width: 100%;
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}