{% load static %}
<!DOCTYPE html>
<html>
    <head>   
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    <link rel="stylesheet" href="{%static 'css/layout.css'%}">


        {% if title %}
        <title>Placement Guide- {{ title }}</title>
        {% else %}
        <title>Placement Guide</title>
        {% endif %}
    </head>
    <body>    
            <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                  <h3>Placement Guide</h3>
                    <a class="navbar-brand mr-4"</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="{% url 'home_detail' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'home' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                      {% if user.is_authenticated %}    <!-- when user will be logged in then these url will be shown -->
                      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a><!-- here we have linked the logout sign on the notice bar if the user is authentic-->
                      {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a><!--here if the user in not authentic then we have linked it to the login and register-->
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                      {% endif %}
                    </div>
                    </div>
                </div>
                </nav>
            </header>
            <main role="main" class="container">
                <div class="row">
                  <div class="col-md-8">   <!--any message that will display on our template will be represented here-->
                    {% if messages %} 
                      {%for message in messages %}    
                      <div class="alert alert-{{message.tags }}">
                        {{message}}
                      </div>
                      {% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                  </div>
                </div>
              </main>
    </body>
</html>