{% extends "placement/base.html" %}

<!-- django provide us the basic logout link this is just to make changes in that link cause we don't want user to directly go to the admin page -->

{% block content %}
       <div class="alert alert-info">
            An email has been sent with instructions to reset your password 
       </div>
{% endblock content %}

<!-- now we will get the error because currently django is trying to create an html page to send the link for reset to our mail but it will try to access an html called password_reset_confirm -->
