{% extends "placement/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>                   
                    {{ form|crispy }} <!-- these parallel bars are used to filter we can use here crispy tag to filter our form and look good-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button> <!-- after login we will be redirected to account profile that is the by default path that django give us so in settings i have changed that path to be home page using the syntax as LOGIN REDIRECT URL-->
            </div>
        </form>
    </div>
{% endblock content %}

<!-- still we will get one error called connection refuseError i.e ConnectionRefusedError at /home/placement/password-reset/ -->
<!-- its showing this because it is trying to send an email but currently we dont have any email server -->
<!-- here we will use the gmail server to send the email so that we can learn it what we have to do during the production  -->

